:root {
  --outline-main: 2px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 20px 45px;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 40px;
  display: none;
}

.company {
  outline: var(--outline-main);
  position: relative;
  width: 1311px;
  margin: 0 auto;
  display: block;
  height: 550px;
}

.room {
  outline: var(--outline-main);
  font-size: 1.7rem;
  font-weight: 600;
  position: absolute;
}

.entrace {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -25px;
  background-color: white;
  left: 308px;
}

.irazu {
  width: 300px;
  height: 170px;
  bottom: 0;
}

.irazu .content,
.poas .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.irazu .content p {
  outline: var(--outline-main);
  padding: 10px 17px;
  border-radius: 5px;
}

.irazu__sofa {
  width: 130px;
  height: 42px;
  position: absolute;
  top: 10px;
  right: calc(50% - 65px);
}

.irazu__sofa-items {
  width: 100%;
  height: 100%;
  position: relative;
}

.seat {
  position: absolute;
  border: var(--outline-main);
  width: 50%;
  height: 100%;
  border-radius: 8px;
}

.seat.a {
  top: 0;
  left: 0;
  border-right: 0;
}

.seat.b {
  top: 0;
  right: 0;
  border-left: 0;
}

.back {
  border: var(--outline-main);
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: -5px;
}

.arm {
  height: 100%;
  border: var(--outline-main);
  width: 15px;
  position: absolute;
  border-radius: 5px;
  background-color: white;
}

.arm.a {
  left: 0;
}

.arm.b {
  right: 0;
}

.irazu__chairs {
  /* outline: var(--outline-main); */
  width: 170px;
  height: 35px;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 85px);
}

.irazu__chair {
  outline: var(--outline-main);
  width: 33px;
  height: 27px;
  top: 0;
  position: absolute;
  border-radius: 4px;
}

.irazu__chair.a {
  left: 20px;
  bottom: 20px;
  transform: rotate(20deg);
}

.irazu__chair.b {
  right: 20px;
  bottom: 20px;
  transform: rotate(-20deg);
}

.irazu__chair-items {
  height: 100%;
  width: 100%;
  position: relative;
}

.irazu__chair-arm {
  outline: var(--outline-main);
  width: 4.5px;
  position: absolute;
  height: 100%;
  background-color: white;
  border-radius: 4px;
}

.irazu__chair-arm.a {
  left: 0;
}

.irazu__chair-arm.b {
  right: 0;
}

.irazu__chair-back {
  outline: var(--outline-main);
  height: 3px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  background-color: white;
}

.poas {
  width: 300px;
  height: 380px;
  top: 0;
  position: relative;
}

.board {
  outline: var(--outline-main);
  align-self: flex-start;
  margin-top: 8px;
  width: 180px;
  height: 6px;
  display: block;
  border-radius: 1px;
}

.poas__table-container {
  width: 200px;
  height: 300px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 120px 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.poas__chair-container {
  outline: var(--outline-main);
  width: 100%;
  border-radius: 10px;
}

.poas__table {
  outline: var(--outline-main);
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.irazu__chair-items.left {
  transform: rotateZ(90deg);
}

.irazu__chair-items.right {
  transform: rotateZ(-90deg);
}

.table__onside {
  border: var(--outline-main);
  border-bottom: none;
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 250px;
  border-radius: 5px 5px 0 0;
}
